body {
  background-color: #000000; 
}

h1 {
	color: red;
	text-align: center;
	font-family: sans-serif;
	font-family: 'Monoton', cursive;
	font-size: 250%;
	background-color: #000000;
	border-top: solid black;
	border-left: solid black;
	border-right: solid black;
	border-bottom: solid black;
	margin: 0px;
	text-shadow: 0 0 43px #FFCC00;
}
h3 {
	color: red;
	text-align: center;
	font-family: 'Cherry Cream Soda', cursive;
	font-style: normal;
	vertical-align: center;
	background-color: #000000;
	font-stretch: extra-expanded;
	margin: 0px;
	text-shadow: 0 0 13px #FFCC00;
}

b {
	font-size: 150%;
	position: relative;
  /*bottom: -25px;*/
}

#menu {
	font-family: sans-serif;
	text-align: center;
}

#menu li {
	display: inline;
	font-family: sans-serif;
}

#tr {
	font-weight: normal;
}
  
#table {
	background-color: #0000000;
  margin: 40px;
}
th,td {
  width: justify;
  height: auto;
  margin: auto;
  font-size: 15px;
  text-align: right;
  padding-right: 10px;
}

thead th {
  font-family: sans-serif;
  border-bottom: .5px solid black;
  border-top: .5px solid black;
  border-right: .5px solid black;
  border-left: .5px solid black;
  margin: 25px;
}

thead tr {
  background-color: #DFDFE5;
}

p {
    color: red;
    text-align: center;
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 50px;
    background-color: #000000;
}
footer{
  font-family: 'Cherry Cream Soda', cursive;
  font-size: 15px;
  color: red;
  margin: auto;
  background-color: #000000; 
  text-align: center;
 
}

